<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdf.femisnsb.dao.PermRoleAclMapper">
  <resultMap id="BaseResultMap" type="com.xdf.femisnsb.model.PermRoleAcl">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="roleid" jdbcType="INTEGER" property="roleid" />
    <result column="aclid" jdbcType="INTEGER" property="aclid" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="operatetime" jdbcType="TIMESTAMP" property="operatetime" />
    <result column="operateip" jdbcType="VARCHAR" property="operateip" />
  </resultMap>
  <sql id="Base_Column_List">
    id, roleid, aclid, operator, operatetime, operateip
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from permroleacl
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from permroleacl
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xdf.femisnsb.model.PermRoleAcl">
    insert into permroleacl (id, roleid, aclid, 
      operator, operatetime, operateip
      )
    values (#{id,jdbcType=INTEGER}, #{roleid,jdbcType=INTEGER}, #{aclid,jdbcType=INTEGER}, 
      #{operator,jdbcType=VARCHAR}, #{operatetime,jdbcType=TIMESTAMP}, #{operateip,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xdf.femisnsb.model.PermRoleAcl">
    insert into permroleacl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roleid != null">
        roleid,
      </if>
      <if test="aclid != null">
        aclid,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="operatetime != null">
        operatetime,
      </if>
      <if test="operateip != null">
        operateip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roleid != null">
        #{roleid,jdbcType=INTEGER},
      </if>
      <if test="aclid != null">
        #{aclid,jdbcType=INTEGER},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operatetime != null">
        #{operatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateip != null">
        #{operateip,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xdf.femisnsb.model.PermRoleAcl">
    update permroleacl
    <set>
      <if test="roleid != null">
        roleid = #{roleid,jdbcType=INTEGER},
      </if>
      <if test="aclid != null">
        aclid = #{aclid,jdbcType=INTEGER},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operatetime != null">
        operatetime = #{operatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateip != null">
        operateip = #{operateip,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xdf.femisnsb.model.PermRoleAcl">
    update permroleacl
    set roleid = #{roleid,jdbcType=INTEGER},
      aclid = #{aclid,jdbcType=INTEGER},
      operator = #{operator,jdbcType=VARCHAR},
      operatetime = #{operatetime,jdbcType=TIMESTAMP},
      operateip = #{operateip,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>