<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdf.femisnsb.dao.CompanytitleMapper">
  <resultMap id="BaseResultMap" type="com.xdf.femisnsb.model.Companytitle">
    <result column="sid" jdbcType="VARCHAR" property="sid" />
    <result column="oprimary" jdbcType="VARCHAR" property="oprimary" />
    <result column="createdate" jdbcType="TIMESTAMP" property="createdate" />
    <result column="updatedate" jdbcType="TIMESTAMP" property="updatedate" />
    <result column="updateuser" jdbcType="VARCHAR" property="updateuser" />
    <result column="seq" jdbcType="REAL" property="seq" />
    <result column="isdefault" jdbcType="INTEGER" property="isdefault" />
  </resultMap>
  
  <sql id="Base_Column_List">
  	sid,oprimary,createdate,updatedate,updateuser,seq,isdefault
  </sql>
  
  
  <insert id="insert" parameterType="com.xdf.femisnsb.model.Companytitle">
    insert into companytitle (sid, oprimary, createdate, 
      updatedate, updateuser)
    values (#{sid,jdbcType=VARCHAR}, #{oprimary,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP}, 
      #{updatedate,jdbcType=TIMESTAMP}, #{updateuser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xdf.femisnsb.model.Companytitle">
    insert into companytitle
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        sid,
      </if>
      <if test="oprimary != null">
        oprimary,
      </if>
      <if test="createdate != null">
        createdate,
      </if>
      <if test="updatedate != null">
        updatedate,
      </if>
      <if test="updateuser != null">
        updateuser,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="oprimary != null">
        #{oprimary,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedate != null">
        #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null">
        #{updateuser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from companytitle
    where sid = #{sid,jdbcType=VARCHAR}
  </delete>
  
  <delete id="deleteBPK" parameterType="java.lang.String">
    delete from companytitle
    where sid = #{sid,jdbcType=VARCHAR}
  </delete>
  
  
  <update id="updateByPrimaryKey" parameterType="com.xdf.femisnsb.model.Companytitle">
    update companytitle
    set sid = #{sid,jdbcType=VARCHAR}
    where sid = #{oprimary,jdbcType=VARCHAR}
  </update>
  
  <update id="updateBPK" parameterType="com.xdf.femisnsb.model.Companytitle">
    update companytitle
    set sid = #{sid,jdbcType=VARCHAR}
    where sid = #{oprimary,jdbcType=VARCHAR}
  </update>
  
  
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from companytitle
    where sid = #{sid,jdbcType=VARCHAR}
  </select>
  
  
  <select id="selectAll" resultMap="BaseResultMap">
    select *
    from companytitle
    where 1=1
  </select>
  
  
  
</mapper>