<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdf.femisnsb.dao.EmployeeMapper">
  <resultMap id="BaseResultMap" type="com.xdf.femisnsb.model.Employee">
    <id column="sid" jdbcType="VARCHAR" property="sid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="oprimary" jdbcType="VARCHAR" property="oprimary" />
  </resultMap>
  <sql id="Base_Column_List">
    sid, name, pid, remark, oprimary
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from employee
    where sid = #{sid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from employee
    where sid = #{sid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xdf.femisnsb.model.Employee">
    insert into employee (sid, name, pid, 
      remark, oprimary)
    values (#{sid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{pid,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{oprimary,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xdf.femisnsb.model.Employee">
    insert into employee
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        sid,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="oprimary != null">
        oprimary,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="oprimary != null">
        #{oprimary,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xdf.femisnsb.model.Employee">
    update employee
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="oprimary != null">
        oprimary = #{oprimary,jdbcType=VARCHAR},
      </if>
    </set>
    where sid = #{sid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xdf.femisnsb.model.Employee">
    update employee
    set name = #{name,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      oprimary = #{oprimary,jdbcType=VARCHAR}
    where sid = #{sid,jdbcType=VARCHAR}
  </update>
  
  
  <select id="selectAll" resultMap="BaseResultMap">
    select *
    from employee
    where 1=1
  </select>
  
  <select id="selectChildren" parameterType="java.lang.Integer" resultMap="BaseResultMap">
	call usp_getEmployeeAllchildren(#{parentid,jdbcType=INTEGER});
  </select>
</mapper>